.services-hero {
  padding-block-start: 4rem;
}
.services-hero .services-hero-container {
  position: relative;
  display: grid;
  gap: var(--space-4);
}
.services-hero .services-hero-container .services-hero-image {
  max-height: 572px;
  overflow: hidden;
  border-radius: 1.25rem;
}
.services-hero .services-hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-hero .services-hero-container .services-hero-heading {
  display: grid;
  gap: var(--space-2);
}
@media only screen and (width > 720px) {
  .services-hero .services-hero-container .services-hero-heading {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: var(--clr-neutral-0);
  }
}
.services-hero .services-hero-text {
  display: grid;
  justify-content: space-between;
  gap: var(--space-4);
  align-items: start;
  padding-block-start: 3rem;
}
.services-hero .services-hero-text h2 {
  max-width: 20ch;
}
.services-hero .services-hero-text p {
  max-width: 80ch;
}
@media only screen and (width > 840px) {
  .services-hero .services-hero-text {
    grid-auto-flow: column;
  }
}

.services-offerings .services-offerings-container .services-offerings-list {
  display: grid;
  gap: var(--space-4);
}
@media only screen and (width > 800px) {
  .services-offerings .services-offerings-container .services-offerings-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (width > 1400px) {
  .services-offerings .services-offerings-container .services-offerings-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services-offerings .services-offerings-container .services-offerings-list .services-offerings-card {
  display: grid;
  gap: var(--space-2);
  align-content: start;
  padding: 1rem;
  background-color: var(--clr-neutral-0);
  border: 1px solid var(--clr-neutral-200);
  border-radius: 1.25rem;
  transition: background-color 0.3s ease;
}
.services-offerings .services-offerings-container .services-offerings-list .services-offerings-card .icon {
  width: 48px;
  height: 48px;
}
.services-offerings .services-offerings-container .services-offerings-list .services-offerings-card:hover {
  background-color: var(--clr-neutral-900);
  transition: background-color 0.3s ease;
}
.services-offerings .services-offerings-container .services-offerings-list .services-offerings-card:hover h4, .services-offerings .services-offerings-container .services-offerings-list .services-offerings-card:hover p {
  color: var(--clr-neutral-0);
}
.services-offerings .services-offerings-container .services-offerings-list .services-offerings-card:hover .icon path {
  fill: var(--clr-neutral-0);
}

.horizontal-rule {
  width: 100%;
  height: 1px;
  background-color: var(--clr-neutral-200);
}

.reasons {
  padding-block-start: 8.75rem;
}
.reasons .reasons-container {
  display: grid;
  gap: var(--space-4);
  align-items: center;
}
@media only screen and (width > 800px) {
  .reasons .reasons-container {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-6);
  }
}
.reasons .reasons-container .reasons-image {
  overflow: hidden;
  border-radius: 1.25rem;
}
.reasons .reasons-container .reasons-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reasons .reasons-container .bullet-icon {
  width: 8px;
  height: 8px;
}

/*# sourceMappingURL=services.css.map */
