.contact-container {
  display: grid;
  gap: var(--space-6);

  .contact-form {
    display: grid;
    gap: var(--space-3);

    .form-group {
        display: grid;
        gap: var(--space-2);
    }

    .form-label {
      color: var(--clr-neutral-600);
      font-size: 0.875rem;
    }

    input[type="text"], input[type="email"], textarea {
      padding: 0.5rem 1rem;
      width: 100%;
      border: 1px solid var(--clr-neutral-500);
      border-radius: 1.25rem;

      &:focus, &:hover {
        outline: none;
        border-color: var(--clr-neutral-700);
      }
    }
  }

  .contact-info {
    display: grid;
    gap: var(--space-4);
  }

  @media only screen and (width > 900px) {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-11);

    input[type="text"], input[type="email"], textarea {
      max-width: 600px;
    }
  }
}