.logo {
  display: flex;
  flex-direction: column;
}

.primary-header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.primary-navigation {
  ul {
    .nav-link {
      color: var(--clr-neutral-600);
      text-decoration: none;

      &:hover {
        color: var(--clr-neutral-900);
      }

      &.active {
        font-weight: 400;
        color: var(--clr-primary-900);
      }
    }
  }

  @media only screen and (width < 750px) {
    display: none;
  }
}

.utilities {
  .search {
    position: relative;
    display: flex;
    align-items: center;

    input {
      padding-inline: 3rem 1rem;
      padding-block: 0.25rem;
      border: 1px solid var(--clr-neutral-700);
      max-width: 10rem;
      border-radius: 1.25rem;
      background-color: transparent;

      @media only screen and (width < 900px) {
        max-width: 6rem;
      }

      &:focus {
        outline: none;
        border-color: var(--clr-neutral-700);
      }

    }

    .search-icon {
      position: absolute;
      left: 1rem;
      pointer-events: none;
    }
  }

  .cart, .user {
    cursor: pointer;
  }

  @media only screen and (width < 750px) {
    display: none;
  }
}

.secondary-navigation {
  display: none;

  @media only screen and (width < 750px) {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .secondary-utilities {
    input {
      padding-inline: 3rem 1rem;
      padding-block: 0.25rem;
      border: 1px solid var(--clr-neutral-700);
      max-width: 10rem;
      border-radius: 1.25rem;
      background-color: transparent;

      &:focus {
        outline: none;
        border-color: var(--clr-neutral-700);
      }

    }
  }

  .hamburger, .x-icon {
    position: relative;
    z-index: 2;
  }

  .x-icon {
    transform: scale(1.5);

    path {
      fill: var(--clr-neutral-900);
    }
  }
}

.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  z-index: 1;
  background-color: hsl(94, 41%, 97%, 0.5);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  // inset: 0;
  ul {
    display: grid;
    gap: var(--space-6);
    justify-content: center;
    padding: 4rem;
    text-align: center;

    a {
      text-decoration: none;
      color: var(--clr-neutral-900);
    }

    .search {
      position: relative;
      display: flex;
      align-items: center;
  
      input {
        padding-inline: 3rem 1rem;
        padding-block: 0.25rem;
        border: 1px solid var(--clr-neutral-700);
        max-width: 10rem;
        border-radius: 1.25rem;
        background-color: transparent;
  
        @media only screen and (width < 900px) {
          // max-width: 6rem;
        }
  
        &:focus {
          outline: none;
          border-color: var(--clr-neutral-700);
        }
  
      }
  
      .search-icon {
        position: absolute;
        left: 1rem;
        pointer-events: none;
      }
    }
  }
  

  @media only screen and (width > 750px) {
    display: none;
  }

}