.primary-footer {
  padding-block: 8.75rem 2rem;
}
.primary-footer .quick-links {
  grid-area: quick-links;
}
.primary-footer .additional {
  grid-area: additional;
}
.primary-footer .follow {
  grid-area: follow;
}
.primary-footer a {
  text-decoration: none;
  color: var(--clr-neutral-600);
}
.primary-footer a:hover {
  color: var(--clr-primary-900);
}
.primary-footer .footer-container {
  position: relative;
  display: grid;
  gap: var(--space-6);
  grid-template-areas: "footer-section-one" "footer-section-two" "footer-section-three" "footer-section-four" "footer-section-five";
  padding: 4.5rem 3.75rem;
  background-color: var(--clr-neutral-0);
  border: 1px solid var(--clr-neutral-200);
  border-radius: 1.25rem;
}
.primary-footer .footer-container .footer-section-one {
  grid-area: footer-section-one;
}
.primary-footer .footer-container .footer-section-one input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid var(--clr-neutral-500);
  border-radius: 1.25rem;
}
.primary-footer .footer-container .footer-section-one .consent {
  max-width: 65ch;
  font-size: 0.875rem;
  color: var(--clr-neutral-600);
}
@media only screen and (width < 510px) {
  .primary-footer .footer-container .footer-section-one .subscribe-form {
    display: grid;
  }
}
@media only screen and (width > 900px) {
  .primary-footer .footer-container .footer-section-one input {
    max-width: 400px;
  }
}
.primary-footer .footer-container .footer-section-two {
  grid-area: footer-section-two;
  display: grid;
  grid-template-areas: "quick-links" "additional" "follow";
  gap: var(--space-3);
}
@media only screen and (width > 450px) {
  .primary-footer .footer-container .footer-section-two {
    grid-template-areas: "quick-links additional" "follow additional";
  }
}
@media only screen and (width > 500px) {
  .primary-footer .footer-container .footer-section-two {
    grid-template-areas: "quick-links additional follow";
    gap: var(--space-4);
  }
}
@media only screen and (width > 900px) {
  .primary-footer .footer-container .footer-section-two {
    justify-items: end;
  }
}
.primary-footer .footer-container .footer-section-three {
  grid-area: footer-section-three;
  font-size: 0.875rem;
}
.primary-footer .footer-container .footer-section-four {
  grid-area: footer-section-four;
  display: grid;
  gap: var(--space-0);
  font-size: 0.875rem;
  text-decoration: underline;
}
.primary-footer .footer-container .footer-section-four a {
  text-decoration: underline;
}
@media only screen and (width > 900px) {
  .primary-footer .footer-container .footer-section-four {
    display: flex;
    justify-content: end;
    gap: var(--space-3);
  }
}
.primary-footer .footer-container .footer-section-five {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
@media only screen and (width > 900px) {
  .primary-footer .footer-container .footer-section-five {
    place-self: end;
  }
}
@media only screen and (width > 900px) {
  .primary-footer .footer-container {
    grid-template-areas: "footer-section-one footer-section-two" "footer-section-three footer-section-four";
    row-gap: var(--space-7-8);
    column-gap: var(--space-8);
  }
}

/*# sourceMappingURL=footer.css.map */
