.bestseller-card {
  display: grid;
  gap: var(--space-3);
  padding: 1.25rem;
  max-width: 20rem;
  margin-inline: auto;
  background-color: var(--clr-neutral-0);
  border-radius: 1.25rem;
  border: 1px solid var(--clr-neutral-200);

  .stock {
    font-size: 0.875rem;
  }


  .tag {
    padding: 0.25rem 1rem;
    width: 100%;
    background-color: var(--clr-neutral-100);
    border-radius: 1.25rem;
    font-size: 0.875rem;
  }
}

.swiper {
  z-index: 0;
}

.swiper-button-next,
.swiper-button-prev {
  // background-color: hsla(0, 0%, 100%, 0.5);
  // backdrop-filter: blur(0.25rem);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.5rem;
  border-radius: 100vw;
}

.swiper-button-next {
  background-image: url(../../assets/NextArrowIcon.svg);
}

.swiper-button-prev {
  background-image: url(../../assets/PrevArrowIcon.svg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}